@model List<UnusedSites.Models.Site>
<div class="group">
    <aside class="featured-narrative text-center">
        <h1>Unused Sites Program</h1>
    </aside>
</div>

<div class="group">
<<<<<<< HEAD
    <div class="row">
        <div class="offset-three-quarters quarter text-center">
            <button class="btn btn-primary">ADD NEW UNUSED SITE</button>
        </div>
=======
    <div class="btn-row">
        <button onclick="location.href='@Url.Action("AddSite", "UnusedSites")';return false;" class="btn btn-primary">ADD NEW UNUSED SITE</button>
>>>>>>> UnusedSites/feature/dynamicDashboard
    </div>
</div>
<br />
<div class="group">
    <div class="row">
        <div class="quarter">
            <label class="form-check-inline p-l-md m-l-0 m-r-md">
                <input class="hidden-up pos-abs" type="checkbox">
                <div class="check-icon-checkbox">
                    <i class="ca-gov-icon-check-mark"></i>
                </div>
                Sent in?
            </label>
        </div>
        <div class="quarter">
            <label class="select">
                <select name="email" id="email">
                    <option selected>Filter By Year</option>
                    <option>Generate from DB!</option>
                    <option value="2001">2001</option>
                    <option value="2002">2002</option>
                </select>
            </label>
        </div>
        <div class="quarter">
            <div class="input-group" id="districtCodeSort">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ca-gov-icon-search-right"></i></span>
                </div>
                <input type="text" class="form-control" id="validationFirstName" placeholder="District Code" value="Search By District Code">
            </div>
        </div>
        <div class="quarter">
            <div class="input-group" id="districtCodeSort">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ca-gov-icon-search-right"></i></span>
                </div>
                <input type="text" class="form-control" id="validationFirstName" placeholder="School Name" value="Search By School Name">
            </div>
        </div>
    </div>
</div>
<br />
<div class="group">
    <div class="row">
        <div class="half text-left">
            Show X entries dropdown
        </div>
<<<<<<< HEAD
=======
        <div class="half text-right" style="padding-bottom: 5px;">
            <input type="text" placeholder="Field..."/>
            <input type="text" placeholder="Search..."/>
        </div>
>>>>>>> UnusedSites/feature/dynamicDashboard
    </div>
</div>

    <div class="table-responsive">
        <table class="table table-default">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>District</th>
                    <th>SITE NAME</th>
                    <th>STATUS</th>
                    <th>REASON</th> 
                    <th>YEAR LAST USED</th>
                    <th>CURRENT VALUE</th>
                    <th>GRADE LEVEL</th>
                    <th>CHANGES</th>
                    <th>APPROVED</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model){
                    <tr>
                        <td>
                            @item.Id
                        </td>
                        <td>
                            @Html.ActionLink(item.District, "District", "UnusedSites", new {id = item.District})
                        </td>
                        <td>
                            @Html.ActionLink(item.Name, "Site", "UnusedSites", new {id = item.Name})
                        </td>
                        <td>
                            @item.Status
                        </td>
                        <td>
                            @item.Reason
                        </td>
                        <td>
                            @item.YearLastUsed
                        </td>
                        <td>
                            $@item.CurrentValue
                        </td>
                        <td>
                            @item.GradeLevel
                        </td>
                        <td>
                            @item.Changes
                        </td>
                        <td>
                            @item.Approved
                        </td>
                        
                    </tr>
                }
            </tbody>
        </table>
    </div>


<div class="group">
    <div class="row">
        <div class="half text-left">
            Showing 1 to x of Y entries
        </div>
        <div class="half text-right">
            Previous 1 2 3 4 5 Next
        </div>
    </div>
</div>
