@model List<UnusedSites.Models.District>
<div class="group">
    <aside class="featured-narrative text-center">
        <h1>Unused Sites Program</h1>
    </aside>
</div>
<br />
<div class="group">
    <div class="row">
        <div class="quarter">
                <button onclick="location.href='@Url.Action("AddSite", "UnusedSites")';return false;" class="btn btn-primary">ADD NEW UNUSED SITE</button>
        </div>
        <div class="quarter">
            <label class="select">
                <select name="email" id="email">
                    <option selected>Filter By Year</option>
                    <option>Generate from DB!</option>
                    <option value="2001">2001</option>
                    <option value="2002">2002</option>
                </select>
            </label>
        </div>
        <div class="quarter">
            <div class="input-group" id="districtCodeSort">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ca-gov-icon-search-right"></i></span>
                </div>
                <input type="text" class="form-control" id="validationFirstName" placeholder="District Code" value="Search By District Code">
            </div>
        </div>
        <div class="quarter">
            <div class="input-group" id="districtCodeSort">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ca-gov-icon-search-right"></i></span>
                </div>
                <input type="text" class="form-control" id="validationFirstName" placeholder="School Name" value="Search By School Name">
            </div>
        </div>
    </div>
</div>
<br />
<div class="group">
    <div class="row">
        <div class="half text-left">
        </div>
    </div>
</div>

    <div class="table-responsive">
        <table class="table table-default">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>District</th>
                    <th>CONTACT</th>
                    <th>PHONE NUMBER</th>
                    <th>DATE SENT</th> 
                    <th>DATE RECIEVED</th>
                    <th>424 FORM DATE RECIEVED</th>
                    <th>NUMBER OF SITES</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model){
                    <tr>
                        <td>
                            @item.Id
                        </td>
                        <td>                 
                            @Html.ActionLink(item.Name, "District", "UnusedSites", new {id = item.Name })
                        </td>
                        <td>
                            @item.Contact_Salt
                            @*@Html.ActionLink(item.Name, "Site", "UnusedSites", new {id = item.Name})*@
                            @item.Contact_FName
                            @item.Contact_LName
                        </td>
                        <td>
                            @item.Contact_PNumber
                        </td>
                        <td>
                            @item.Date_Sent
                        </td>
                        <td>
                            @item.Date_Received
                        </td>
                        <td>
                            @item.From424_Rec_Date
                        </td>  
                        <td>
                            @item.NumSites
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


<div class="group">
    <div class="row">
        <div class="half text-left">
        </div>
        <div class="half text-right">
        </div>
    </div>
</div>
