@model UnusedSites.Models.District
<div class="group">
    <aside class="featured-narrative text-center">
        <h1>@Model.Name</h1>
    </aside>
</div>

<div class="group">
    <div class="btn-row">
        <button onclick="location.href='@Url.Action("AddSite", "UnusedSites")';return false;" class="btn btn-primary">ADD NEW UNUSED SITE</button>
        <button class="btn btn-primary">EDIT DISTRICT</button>
        <button onclick="location.href='@Url.Action("Dashboard", "UnusedSites")';return false;" class="btn btn-primary">BACK</button>
        <input style="float: right;"type="text" placeholder="Search..." />
    </div>
</div>

<div class="group">
    <div class="table-responsive">
        <ul style="list-style-type: none; font-size: 20px; padding: 0;">
            <li><b>ID:</b> @Model.Id</li>
            <li><b>Name:</b> @Model.Name</li>
            <li><b>Contact:</b> @Model.Contact_Salt @Model.Contact_FName @Model.Contact_LName</li>
            <li><b>Contact Phone Number:</b> @Model.Contact_PNumber</li>
            <li><b>Date Sent:</b> @Model.Date_Sent</li>
            <li><b>Date Received:</b> @Model.Date_Received</li>
        </ul>
        <table class="table table-default">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>SITE NAME</th>
                    <th>STATUS</th>
                    <th>REASON</th>
                    <th>YEAR LAST USED</th>
                    <th>CURRENT VALUE</th>
                    <th>GRADE LEVEL</th>
                    <th>CHANGES</th>
                    <th>APPROVED</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Sites)
                {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @Html.ActionLink(item.Name, "Site", "UnusedSites", new {id = item.Id, districtId = Model.Id})
                    </td>
                    <td>
                        @item.Status
                    </td>
                    <td>
                        @item.Reason
                    </td>
                    <td>
                        @item.YearLastUsed
                    </td>
                    <td>
                        $@item.CurrentValue
                    </td>
                    <td>
                        @item.GradeLevel
                    </td>
                    <td>
                        @item.Changes
                    </td>
                    <td>
                        @item.Approved
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="group">
    <div class="row">
        <div class="half text-left">
        </div>
        <div class="half text-right">
        </div>
    </div>
</div>