@model UnusedSites.Models.District
<div class="group">
    <aside class="featured-narrative text-center">
        <h1>@Model.Name District</h1>
    </aside>
</div>

<div class="group">
    <div class="btn-row">
        <button class="btn btn-primary">ADD NEW UNUSED SITE</button>
        <input style="float: right;"type="text" placeholder="Search..." />
    </div>
</div>

@*<div class="group">
    <div class="row">
        <div class="half text-right" style="padding-bottom: 5px;">
            <input type="text" placeholder="Search..." />
        </div>
    </div>
</div>*@

<div class="group">
    <div class="table-responsive">
        <ul style="list-style-type: none; font-size: 20px; padding: 0;">
            <li><b>ID:</b> @Model.Id</li>
            <li><b>Name:</b> @Model.Name</li>
            <li><b>Contact:</b> @Model.Contact_Salt @Model.Contact_FName @Model.Contact_LName</li>
            <li><b>Contact Phone Number:</b> @Model.Contact_PNumber</li>
            <li><b>Date Sent:</b> @Model.Date_Sent</li>
            <li><b>Date Received:</b> @Model.Date_Received</li>
        </ul>
        <table class="table table-default">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>SITE NAME</th>
                    <th>STATUS</th>
                    <th>YEAR LAST USED</th>
                    <th>CURRENT VALUE</th>
                    <th>GRADE LEVEL</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Sites)
                {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Status
                    </td>
                    <td>
                        @item.YearLastUsed
                    </td>
                    <td>
                        $@item.CurrentValue
                    </td>
                    <td>
                        @item.GradeLevel
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="group">
    <div class="row">
        <div class="half text-left">
            Shoowing 1 to x of Y entries
        </div>
        <div class="half text-right">
            Previous 1 2 3 4 5 Next
        </div>
    </div>
</div>