<div class="container">
    <aside class="featured-narrative text-center">
        <h1>Adjust Yearly Percentage</h1>
    </aside>
</div>

<div class="group">
    <div class="half offset-half">
        <div class="form-group row">
            <div class="two-thirds">
                <label for="newPercentage" class="form-control-label"> New Percentage</label>
                <input id="newPercentage"class="form-control" style="width:200px;" type="text" placeholder="New Percentage" />
            </div>
            <div class="third">
                <button onclick="location.href='@Url.Action("Settings", "UnusedSites")';return false;" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>

</div>

<div class="container">
    <aside class="featured-narrative text-center">
        <h1>Print a Report</h1>
    </aside>
</div>


<div class="group">
    <div class="half offset-half">
        <div class="form-group row">
            <div class="two-thirds">
                Unused Site 1st Mass Mailer:
            </div>
            <div class="third">
                <button onclick="location.href='@Url.Action("Settings", "UnusedSites")';return false;" class="btn btn-primary">Print</button>
            </div>
        </div>
        <div class="form-group row">
            <div class="two-thirds">
                Unused Site 2nd Mass Mailer:
            </div>
            <div class="third">
                <button onclick="location.href='@Url.Action("Settings", "UnusedSites")';return false;" class="btn btn-primary">Print</button>
            </div>
        </div>
        <div class="form-group row">
            <div class="two-thirds">
                FY Year End:
            </div>
            <div class="third">
                <button onclick="location.href='@Url.Action("Settings", "UnusedSites")';return false;" class="btn btn-primary">Print</button>
            </div>
        </div>
        <div class="form-group row">
            <div class="two-thirds">
                List:
            </div>
            <div class="third">
                <button onclick="location.href='@Url.Action("Settings", "UnusedSites")';return false;" class="btn btn-primary">Print</button>
            </div>
        </div>
    </div>

    @*<div class="table-responsive">
            @*<aside class="featured-narrative text-center">
                <h1>Print a Report</h1>
            </aside>
            <ul style="list-style-type: none; font-size: 20px; padding: 0;">
                <li style="margin-bottom: 40px"><b>Unused Site 1st Mass Mailer:</b><button style="float: right;" onclick="location.href='@Url.Action("Settings", "UnusedSites")';return false;" class="btn btn-primary">Print</button></li>
                <li style="margin-bottom: 40px"><b>Unused Site 2nd Mass Mailer:</b><button style="float: right;" onclick="location.href='@Url.Action("Settings", "UnusedSites")';return false;" class="btn btn-primary">Print</button></li>
                <li style="margin-bottom: 40px"><b>FY Year End:</b><button style="float: right;" onclick="location.href='@Url.Action("Settings", "UnusedSites")';return false;" class="btn btn-primary">Print</button></li>
                <li style="margin-bottom: 40px"><b>List:</b><button style="float: right;" onclick="location.href='@Url.Action("Settings", "UnusedSites")';return false;" class="btn btn-primary">Print</button></li>
            </ul>
        </div>*@
</div>