@model List<UnusedSites.Models.Site>
<div class="group">
    <aside class="featured-narrative text-center">
        <h1>Campbell School Site</h1>
    </aside>
</div>

<div class="group">
    <div class="btn-row">
        <button onclick="location.href='@Url.Action("AddSite", "UnusedSites")';return false;" class="btn btn-primary">ADD NEW UNUSED SITE</button>
        <button class="btn btn-primary">EDIT SITE</button>
        <button onclick="location.href='@Url.Action("District", "UnusedSites", ViewData["districtId"])';return false;" class="btn btn-primary">BACK</button>
        <button class="btn btn-primary">APPROVE</button>
    </div>
</div>
<div class="carousel owl-carousel carousel-content">
    @foreach (var item in Model)
     {
        <div class="content-container" style="color: black;">

            <div class="content">

                <div class="group" style="font-size: 20px;">
                    <table class="table table-default">
                        <tr>
                            <th colspan="2" style="text-align:center;">Site Information - @item.YearLastUsed</th>
                        </tr>
                        <tr>
                            <th style="width:50%" >ID</th>
                            <td style="width:50%" >@item.Id</td>
                        </tr>
                        <tr>
                            <th style="width:50%" >Name</th>
                            <td style="width:50%" >@item.Name</td>
                        </tr>
                        <tr>
                            <th style="width:50%" >Status</th>
                            <td style="width:50%" >@item.Status</td>
                        </tr>
                        <tr>
                            <th style="width:50%" >Reason</th>
                            <td style="width:50%" >@item.Reason</td>
                        </tr>
                        <tr>
                            <th style="width:50%" >Month Last Used</th>
                            <td style="width:50%" >@item.MonthLastUsed</td>
                        </tr>
                        <tr>
                            <th style="width:50%" >Year Last Used</th>
                            <td style="width:50%" >@item.YearLastUsed</td>
                        </tr>
                        <tr>
                            <th style="width:50%" >Number of Acres</th>
                            <td style="width:50%" >@item.NumAcres</td>
                        </tr>
                        <tr>
                            <th style="width:50%" >Parcels</th>
                            <td style="width:50%" >@item.Id</td>
                        </tr>
                        <tr>
                            <th style="width:50%" >Purchase Price</th>
                            <td style="width:50%" >$@item.PurchasePrice</td>
                        </tr>
                        <tr>
                            <th style="width:50%" >Appraised Value</th>
                            <td style="width:50%" >$@item.AppraisedValue</td>
                        </tr>
                        <tr>
                            <th style="width:50%" >Year Appraised</th>
                            <td style="width:50%" >@item.YearAppraised</td>
                        </tr>
                        <tr>  
                            <th style="width:50%" >Month Appraised</th>
                            <td style="width:50%" >@item.MonthAppraised</td>
                        </tr>
                        <tr>
                            <th style="width:50%" >Current Value</th>
                            <td style="width:50%" >$@item.CurrentValue</td>
                        </tr>
                        <tr> 
                            <th style="width:50%" >Grade Level</th>
                            <td style="width:50%" >@item.GradeLevel</td>
                        </tr>
                        <tr>
                            <th style="width:50%" >Approved</th>
                            <td style="width:50%" >@item.Approved</td>
                        </tr>
                        <tr>
                            <th style="width:50%" >Fee Assessed</th>
                            <td style="width:50%" >$@item.CurrentValue</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    }
    </div>

<script>

</script>