@model List<UnusedSites.Models.Site>
<div class="group">
    <aside class="featured-narrative text-center">
        <h1>Campbell School Site</h1>
    </aside>
</div>

<div class="group">
    <div class="btn-row">
        <button onclick="location.href='@Url.Action("AddSite", "UnusedSites")';return false;" class="btn btn-primary">ADD NEW UNUSED SITE</button>
        <button class="btn btn-primary">EDIT SITE</button>
        <button onclick="location.href='@Url.Action("District", "UnusedSites", ViewData["districtId"])';return false;" class="btn btn-primary">BACK</button>
        <button class="btn btn-primary">APPROVE</button>
    </div>
</div>
<div class="carousel owl-carousel carousel-content">
    @foreach (var item in Model)
     {
        <div class="content-container" style="color: black;">

            <div class="content">

                <div class="group" style="font-size: 20px;">
                    <table class="table table-default">
                        <tr>
                            <th colspan="4"> @item.YearLastUsed</th>
                        </tr>
                        <tr>
                            <th colspan="2">Site Information</th>
                            <th colspan="2">Appraisal Information</th>
                        </tr>
                        <tr>
                            <th>ID</th>
                            <td>@item.Id</td>
                            <th>Purchase Price</th>
                            <td>$@item.PurchasePrice</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>@item.Name</td>
                            <th>Appraised Value</th>
                            <td>$@item.AppraisedValue</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>@item.Status</td>
                            <th>Year Appraised</th>
                            <td>@item.YearAppraised</td>
                        </tr>
                        <tr>
                            <th>Reason</th>
                            <td>@item.Reason</td>
                            <th>Month Appraised</th>
                            <td>@item.MonthAppraised</td>
                        </tr>
                        <tr>
                            <th>Month Last Used</th>
                            <td>@item.MonthLastUsed</td>
                            <th>Current Value</th>
                            <td>$@item.CurrentValue</td>
                        </tr>
                        <tr>
                            <th>Year Last Used</th>
                            <td>@item.YearLastUsed</td>
                            <th>Grade Level</th>
                            <td>@item.GradeLevel</td>
                        </tr>
                        <tr>
                            <th>Number of Acres</th>
                            <td>@item.NumAcres</td>
                            <th>Approved</th>
                            <td>@item.Approved</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    }
    </div>

<script>

</script>